@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
}

@layer components {
  .style-input {
   @apply w-full border-2 border-custom-blue  md:px-3 md:py-1 rounded-md
  }
  .invalid-feedback {
    @apply text-custom-red text-sm
  }
  .btn-primary {
    background-color: #4568ff;
}
.zoom-fade-in {
  animation: zoomFadeIn 2s ease-out;
}
.rounded-asymmetric {
  border-radius: 100px 0 ;
}
}



@keyframes zoomFadeIn {
  from {
    transform: scale(0);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}





